<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.himanshu.aicte.common">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.common"
        >
        <activity
            android:name=".user.UserProfileEditorActivity"
            android:exported="false" />
        <activity
            android:name=".user.authentication.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.authentication.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.common"/>
        <activity
            android:name=".user.authentication.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.common"/>
    </application>

</manifest>